{% extends 'layout.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body_id 'profile_body' %}

{% block body %}

<section id="profile">

    <div class="container" id="profile-box">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    <div class="profile mr-3 text-center"><img src="{{ app.user.profilePic }}" alt="..." width="130" class="rounded mb-2 img-thumbnail"><a href="/profile/edit-2" class="btn btn-danger btn-sm btn-block">Changer le mot de passe</a></div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0 text-white">{{ app.user.surname }} {{ app.user.name }}</h4>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="bg-light p-4 d-flex justify-content-center">
                <div class="container">
                    <h3 class="text-center">Profil</h3>
                    <hr class="divider my-8" />
                    <div class="row">
                        <div class="col" id="profile_infos">
                            <div class="card border-secondary mb-3">
                                <div class="card-body">
                                    <div class="profile-back"><a href="/profile"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/></svg></a></div>
                                    <h4 class="card-header text-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0c5460" class="bi bi-caret-down-square-fill" viewBox="0 0 16 16"><path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z"/></svg> Mes informations</h4>
                                    <p class="card-text">
                                        {{ form_start(profileform, {'attr': {'novalidate': 'novalidate', 'class': 'container'}}) }}
                                            <div class="row row-cols-2">
                                                {{ form_row(profileform.name, {'class': 'col', 'label': 'Nom'}) }}
                                                {{ form_row(profileform.surname, {'class': 'col', 'label': 'Prénom'}) }}
                                            </div>
                                            <div class="row row-cols-1">
                                                {{ form_row(profileform.username, {'class': 'col', 'label': 'Pseudonyme'}) }}
                                                {{ form_row(profileform.mail, {'class': 'col', 'label': 'Adresse mail'}) }}                                                
                                            </div>
                                            
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary btn-sm">Confirmer</a>
                                            </div>
                                        {{ form_end(profileform) }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
