{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block body %}

    <section id="presentation">

        <div id="resume">
            <h1 class="text-center mt-0">Snowtricks</h2>
            <hr class="divider my-4" />
            <img class="img-fluid" src="assets/img/snowtricks_logo1.png" alt="" />
            <p class="p-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non ex a lacus condimentum aliquet. In sed dolor at ligula consequat placerat efficitur sit amet purus. Pellentesque laoreet libero est, eget posuere ante faucibus et. Sed at rutrum sem, sit amet rutrum elit. Quisque dictum hendrerit convallis. Nunc vestibulum ante ut facilisis aliquet. Pellentesque ornare lorem ac enim feugiat, eu interdum dolor egestas. Donec sit amet venenatis purus. Vestibulum luctus in purus quis convallis. Quisque efficitur nunc sapien, vitae facilisis nibh suscipit eget. Pellentesque sed sagittis purus, vel tincidunt tellus. Phasellus feugiat placerat lacus quis dignissim. Pellentesque ultrices tempor lacinia. Etiam ac euismod purus, non pulvinar sapien. Praesent semper, nisl in pretium hendrerit, justo purus ullamcorper felis, a mattis eros eros at felis. </p>
        </div>

    </section>

    <section id="tricks">

        <div class="container" id="portfolio">
            <h2 class="text-center mt-0">Les figures</h2>
            <hr class="divider my-4" />
        </div>

        {% if is_granted('ROLE_USER') %}
            <div class="text-center" id="add_button">
                <a href="/trick/add" class="btn btn-primary">Ajouter un trick</a>
            </div>
        {% endif %}
        

        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row no-gutters">

                    {% for trick in tricks %}
         
                    <div class="col-lg-4 col-sm-6" id="trick_thumbnails">
                        <a class="portfolio-box" href="/trick/{{ trick.name }}">
                            <img class="img-fluid" src="{{ asset('assets/img/trick/thumbnails/' ~ trick.mainpic) }}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">{{ trick.category }}</div>
                                <div class="project-name">{{ trick.name }}</div>
                            </div>
                        </a>
                        {% if is_granted('ROLE_USER') %}
                            <div class="user-button">
                                <button onclick="window.location.href='/trick/{{ trick.name }}/edit'" class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                </button>

                                <button onclick="window.location.href='/trick/1'" class="btn btn-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                            </div>
                        {% endif %}
                    </div>

                    {% endfor %}
                    

                </div>
            </div>
        </div>


    </section>
{% endblock %}
