{% extends 'layout.html.twig' %}

{% block title %}Test{% endblock %}

{% block body_id 'test_body' %}

{% block body %}

<section id="profile">

<div class="row" id="profile-pic">
    <div class="">
        <a href="#imageCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="imageCollapse">
            <img src="{{ app.user.profilePic }}" width="130" class="rounded mb-2 img-thumbnail">
        </a>
    </div>
    <div class="collapse row row-cols-7" id="imageCollapse">
        <form action="{{ path('test') }}" method="post" class="col">
            <input type="text" id="pic" name="pic" class="form-control" value="https://nsa40.casimages.com/img/2021/03/19/mini_210319072829662565.png" hidden/>
            <input type="image" name="pic" src="https://nsa40.casimages.com/img/2021/03/19/mini_210319072829662565.png" width="70" class="rounded mb-2 img-thumbnail">        
        </form>
        <form action="{{ path('test') }}" method="post" class="col">
            <input type="text" id="pic" name="pic" class="form-control" value="https://nsa40.casimages.com/img/2021/03/19/mini_210319072829751821.png" hidden/>
            <input type="image" name="pic" src="https://nsa40.casimages.com/img/2021/03/19/mini_210319072829751821.png" width="70" class="rounded mb-2 img-thumbnail">
        </form>
        <form action="{{ path('test') }}" method="post" class="col">
            <input type="text" id="pic" name="pic" class="form-control" value="https://nsa40.casimages.com/img/2021/03/19/mini_21031907283016778.png" hidden/>
            <input type="image" name="pic" src="https://nsa40.casimages.com/img/2021/03/19/mini_21031907283016778.png" width="70" class="rounded mb-2 img-thumbnail">
        </form>
        <form action="{{ path('test') }}" method="post" class="col">
            <input type="text" id="pic" name="pic" class="form-control" value="https://nsa40.casimages.com/img/2021/03/19/mini_210319072830281957.png" hidden/>
            <input type="image" name="pic" src="https://nsa40.casimages.com/img/2021/03/19/mini_210319072830281957.png" width="70" class="rounded mb-2 img-thumbnail">
        </form>
        <form action="{{ path('test') }}" method="post" class="col">
            <input type="text" id="pic" name="pic" class="form-control" value="https://nsa40.casimages.com/img/2021/03/19/mini_210319072830540842.png" hidden/>
            <input type="image" name="pic" src="https://nsa40.casimages.com/img/2021/03/19/mini_210319072830540842.png" width="70" class="rounded mb-2 img-thumbnail">
        </form>
        <form action="{{ path('test') }}" method="post" class="col">
            <input type="text" id="pic" name="pic" class="form-control" value="https://nsa40.casimages.com/img/2021/03/19/mini_210319072830813153.png" hidden/>
            <input type="image" name="pic" src="https://nsa40.casimages.com/img/2021/03/19/mini_210319072830813153.png" width="70" class="rounded mb-2 img-thumbnail">
        </form>
        <form action="{{ path('test') }}" method="post" class="col">
            <input type="text" id="pic" name="pic" class="form-control" value="https://nsa40.casimages.com/img/2021/03/19/mini_210319072831107206.png" hidden/>
            <input type="image" name="pic" src="https://nsa40.casimages.com/img/2021/03/19/mini_210319072831107206.png" width="70" class="rounded mb-2 img-thumbnail">
        </form>
        <form action="{{ path('test') }}" method="post" class="col">
            <input type="text" id="pic" name="pic" class="form-control" value="https://nsa40.casimages.com/img/2021/03/19/mini_210319072831377550.png" hidden/>
            <input type="image" name="pic" src="https://nsa40.casimages.com/img/2021/03/19/mini_210319072831377550.png" width="70" class="rounded mb-2 img-thumbnail">
        </form>
        <form action="{{ path('test') }}" method="post" class="col">
            <input type="text" id="pic" name="pic" class="form-control" value="https://nsa40.casimages.com/img/2021/03/19/mini_210319072831648754.png" hidden/>
            <input type="image" name="pic" src="https://nsa40.casimages.com/img/2021/03/19/mini_210319072831648754.png" width="70" class="rounded mb-2 img-thumbnail">
        </form>
        <form action="{{ path('test') }}" method="post" class="col">
            <input type="text" id="pic" name="pic" class="form-control" value="https://nsa40.casimages.com/img/2021/03/19/mini_210319072831918051.png" hidden/>
            <input type="image" name="pic" src="https://nsa40.casimages.com/img/2021/03/19/mini_210319072831918051.png" width="70" class="rounded mb-2 img-thumbnail">
        </form>
    </div>
</div>

</section>

{% endblock %}